### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

1. Out of 576 active players, the majority are male(84%).
2. The peack age demographic falls between 20-24 for the most purchase counts. 
3. The most popular item is the same as the most profitable item, whhich is Oathbreaker, Last Hope of the Breaking Storm

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "./Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
count = purchase_data["SN"].value_counts()
count
total = len(count)

summary_table = pd.DataFrame({"Total Players": [total]})
                                
summary_table.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique = purchase_data["Item ID"].unique()
unique
number=len(unique)
number
average = purchase_data["Price"].mean()
average
purchase= purchase_data["Purchase ID"].value_counts()
purchase
purchase_total= len(purchase)
purchase_total
total_revenue = purchase_data["Price"].sum()
total_revenue

summary = pd.DataFrame({"Number of Unique Items": [number],"Average Price":[average],"Number of Purchases":[purchase_total],"Total Revenue":[total_revenue]})
                                
summary.head()

Display=summary.style.format({'Average Price':'${:,.2f}'.format,'Total Revenue':'${:,.2f}'.format})
Display

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:


new_table = purchase_data[["Gender", "SN"]]
new_table.head()
new=new_table.drop_duplicates(subset="SN",keep='first', inplace=False)

Gender_group= new.groupby("Gender").count()
Gender_group


Gender_group["Percentage of Players"] = Gender_group["SN"]/total
Gender_group["Percentage of Players"]


table = Gender_group[["SN", "Percentage of Players"]]
table.head()

new_output=Gender_group.rename(columns={'SN': 'Total Count'})
new_output

output=new_output.style.format({'Percentage of Players': '{:,.2%}'.format})
output


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender



* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:


summary_newtable = purchase_data[['Gender','Purchase ID']]
summary_newtable.head()

Group=summary_newtable.groupby("Gender").count()
Group

summary_newtable1 = purchase_data[['Gender','Price']]
summary_newtable.head()

Mean=summary_newtable1.groupby("Gender").mean()
Mean

summary_newtable2 = purchase_data[['Gender','Price']]
summary_newtable.head()

Mean=summary_newtable1.groupby("Gender").mean()
Mean

merge_table = pd.merge(Group,Mean, on="Gender")
merge_table

merge_table['Total Purchase Value']=merge_table['Purchase ID']*merge_table['Price']
merge_table
merge_table['Avg Total Purchase per Person']=merge_table['Total Purchase Value']/new_output['Total Count']
merge_table

merge_table=merge_table.rename(columns={'Price': 'Average Purchase Price','Purchase ID': 'Purchase Count'})
merge_table                                
                             

output1=merge_table.style.format({'Average Purchase Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format,'Avg Total Purchase per Person': '${:,.2f}'.format})
output1
                                  
                                  
#new_output=Gender_group.rename(columns={'SN': 'Total Count'})
#new_output

#output=new_output.style.format({'Percentage of Players': '{:,.2%}'.format})
#output

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [191]:
bins = [0,9, 14, 19, 24, 29, 34,39,40]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]
purchase_data['Age range']=pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data

#new=new_table.drop_duplicates(subset="SN",keep='first', inplace=False)

purchase_newdata=purchase_data.drop_duplicates(subset="SN",keep='first', inplace=False)
Bin_table = purchase_newdata[['Age range','Age']]
Bin_table

New_table=Bin_table.groupby("Age range").count()
New_table

New_table['Percentage of Players']=100*New_table['Age']/total
New_table
New_table=New_table.rename(columns={'Age':'Total Count'})
New_table

table_new=New_table.style.format({'Percentage of Players': '{:,.2f}'.format})
table_new

#table_new = table_new.style.format({'Percentage of Players': str.replace("%","").astype(float)
#table_new
            

#df[cols] = df[cols].replace({'\$': '', ',': ''}, regex=True)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [94]:
Bin_table1 = purchase_data[['Age range','Purchase ID']]
Bin_table1

New_table1=Bin_table1.groupby("Age range").count()
New_table1

Bin_table2 = purchase_data[['Age range','Price']]
Bin_table2

New_table2=Bin_table2.groupby("Age range").mean()
New_table2

New_table3=pd.merge(New_table1,New_table2,on="Age range")
New_table3

New_table3['Total Purchase Value']=New_table3['Purchase ID']*New_table3['Price']
New_table3
New_table3['Avg Total Purchase per Person']=New_table3['Total Purchase Value']/New_table['Total Count']
New_table3

New_table3=New_table3.rename(columns={'Price': 'Average Purchase Price','Purchase ID': 'Purchase Count'})
New_table3                               
                             

New_table3=New_table3.style.format({'Average Purchase Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format,'Avg Total Purchase per Person': '${:,.2f}'.format})
New_table3


#Group_table3=New_table3.groupby("Age range")
#Group_table3.head()


#New_table['Percentage of Players']=New_table['Age']/total
#New_table
#New_table=New_table.rename(columns={'Age':'Total Count'})
#New_table

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [188]:
#df = purchase_data.set_index("SN")
#df.head()

table=purchase_data[['SN','Purchase ID']]
table

table1=table.groupby('SN').count()
table1

table2=purchase_data[['SN','Price']]
table2

table3=table2.groupby('SN').mean()
table3

table4=pd.merge(table1,table3,on="SN")
table4

table4['Total Purchase Value']=table4['Purchase ID']*table4['Price']
table4

table5 = table4.sort_values(
    ["Total Purchase Value"], ascending=False).head(5)
table5.head()

table5=table5.rename(columns={'Price': 'Average Purchase Price','Purchase ID': 'Purchase Count'})
table5 

table5=table5.style.format({'Average Purchase Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format,'Avg Total Purchase per Person': '${:,.2f}'.format})
table5

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [186]:
item_table=purchase_data[['Item ID','Purchase ID']]
item_table

item_table1=item_table.groupby(['Item ID']).count()
item_table1

item_table2=purchase_data[['Item ID','Item Name','Price']]
item_table2

item_table3=item_table2.groupby(['Item ID','Item Name']).mean()
item_table3.reset_index(inplace=True)

item_table4=pd.merge(item_table1, item_table3,on='Item ID', how="outer")
item_table4


item_table4['Total Purchase Value']=item_table4['Purchase ID']*item_table4['Price']
item_table4

item_table4=item_table4[['Item ID','Item Name','Purchase ID','Price','Total Purchase Value']]
item_table4


item_table5 =item_table4.sort_values(["Purchase ID"], ascending=False).head(5)
item_table5
item_table5.reset_index(inplace=True)

item_table5=item_table5.rename(columns={'Price': 'Average Purchase Price','Purchase ID': 'Purchase Count'})
item_table5 

item_table5=item_table5.style.format({'Average Purchase Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format,'Avg Total Purchase per Person': '${:,.2f}'.format})
item_table5

#item_table6=item_table5[['Item ID','Item Name','Purchase Count','Average Purchase Price','Total Purhse Value']]
#item_table6

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [187]:

item_table6 =item_table4.sort_values(["Total Purchase Value"], ascending=False).head(5)
item_table6

item_table6=item_table6.rename(columns={'Price': 'Average Purchase Price','Purchase ID': 'Purchase Count'})
item_table6 

item_table6=item_table6.style.format({'Average Purchase Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format,'Avg Total Purchase per Person': '${:,.2f}'.format})
item_table6